<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-card>
    <mat-card-content class="form-container">
      <mat-card-title>Login</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        @if(loginForm.get('email')?.hasError('required')){
          <mat-error>Email es requerido</mat-error>
        }
        @if(loginForm.get('email')?.hasError('email')){
          <mat-error>Formato invalido de correo</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        @if(loginForm.get('password')?.hasError('required')){
          <mat-error>Contraseña requerida</mat-error>
        }
        @if(loginForm.get('password')?.hasError('minlength')){
          <mat-error>Contraseña menor a 6 caracteres</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="action-container">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
