<nav>
    <div class="menu">
        <ul>
            <li [routerLink]="['/estudiante', 'nuevo-ingreso']">Nuevo ingreso</li>
            <li [routerLink]="['/estudiante', 'regular']">Alumno regular</li>
            <li >Lista</li>
            <!--<li [routerLink]="['/articles']">Lista de artículos</li>
            <li [routerLink]="['/articles', 'detalle']">Detalle del artículo</li>
            <li [routerLink]="['/dashboard']">Dashboard de administración</li>
            <li [routerLink]="['/dashboard', 'calendar']">Calendario de administración</li>
            <li [routerLink]="['/register']">Registro</li>
            <li [routerLink]="['/login']">Login</li>-->
        </ul>
    </div>
</nav>