<!--<nav>
    <div class="menu">
        <ul>
            <li [routerLink]="['/estudiante', 'nuevo-ingreso']">Añadir Asignaturas</li>
            <li [routerLink]="['/estudiante', 'regular']">Añadir Notas</li>
        </ul>
    </div>
</nav>-->

<mat-sidenav-container class="sidenav-container">
<mat-sidenav-content>
<mat-toolbar  color="">
    <button mat-button>Añadir Asignaturas</button>
    <button mat-button>Añadir Notas</button>
</mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>