<div class="login-form">
  @if(frameSearch){
     <mat-card>
      <mat-card-content>
          <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
          <p>Busqueda</p>
            <mat-card>
                <mat-form-field>
                <mat-label>Cedula</mat-label>
                    <input matInput type="number" formControlName="cedula" required>
                </mat-form-field>

                <mat-checkbox formControlName="perfil" (click)="check()">Perfil?</mat-checkbox>
                <mat-checkbox formControlName="record" (click)="check()">Record Academico?</mat-checkbox>
                <mat-checkbox formControlName="representante" (click)="check()">Representante?</mat-checkbox>
               
                <mat-card-actions class="action-container">
                    <button mat-raised-button type="submit">Buscar</button>
                </mat-card-actions>
            </mat-card>
          </form>
      </mat-card-content>
    </mat-card>
  }
  @else{
    <mat-card>
      <mat-card-content>
        @if(frameNum == 1){
           <mat-card-title>
            Perfil
        </mat-card-title>
           <p>
            Nombre: {{ globalDataFrame.response.perfil.name }}
           </p>
           <p>
            Cedula: {{ globalDataFrame.response.perfil.cedula }}
           </p>
           <p>
            Correo: {{ globalDataFrame.response.perfil.email }}
           </p>
           <p>
            Telefono: {{ globalDataFrame.response.perfil.telefono }}
           </p>
           <p>
            Direccion: {{ globalDataFrame.response.perfil.direccion }}
           </p>
           <p>
            Activo: 
            @if(globalDataFrame.response.perfil.isActive){
              Si
            }
            @else{
              No
            }
           </p>
           <p>
            Necesita medicinas: 
            @if(globalDataFrame.response.perfil.medicina){
              Si
            }
            @else{
              No
            }
           </p>
           <p>
            Tine alergias: 
            @if(globalDataFrame.response.perfil.alergia){
              Si
            }
            @else{
              No
            }
           </p>
           <p>
            Perfil creado: {{ globalDataFrame.response.perfil.createdAt | date:'yyyy-MM-dd' }}
           </p>
        }
        @else if(frameNum == 2){
          <mat-card-title> 
            Record academico
          </mat-card-title>
          <!--@for (record of globalDataFrame.response.recordAcademico; track record) {
          <div class="action-container">
                    <app-card
                      class="card"
                      [record]="record"
                    />
          </div>
          
        }-->
           <!--@for (record of globalDataFrame.response.recordAcademico; track record) {
              <p>
              Desde: {{ record.fechaEscolarDesde | date:'yyyy-MM-dd' }}
             </p>
             <p>
              Hasta : {{ record.fechaEscolarHasta | date:'yyyy-MM-dd' }}
             </p>
             <p>
              Año: {{ record.curso }}
             </p>
             <p>
              Plantel de origen: {{ record.plantelOrigen }}
             </p>
             <p>
              Prueba vocacional:
              @if(record.pruebaVocacional){
                Si
              }
              @else{
                No
              }
              </p>
              <p>
              Tipo: {{ record.tipoEstudiante }}
             </p>
              <p>
              Repitiente:
              @if(record.repitiente){
                Si
              }
              @else{
                No
              }
              </p>
              <p>
              Materias aplazadas:
              @for (ma of record.materiasAplazadas; track ma) {
                  <p>{{ma.nombre | uppercase }}</p>
              }
              </p>

              <p>
              Materias aprobadas:
              @for (mp of record.materiasAprobadas; track mp) {
                  <p>{{mp.nombre | uppercase}}</p>
              }
              </p>
              <app-card/>
            }-->
        }
        @else if(frameNum == 3){
          <mat-card-title> 
            Representantes
          </mat-card-title>
          <mat-card>
          <mat-card-content>
          <h4>Datos de la madre</h4>
          <p>
              Nombre:
              {{ globalDataFrame.response.representante.madre }}
          </p>
          <p>
              Cedula:
              {{ globalDataFrame.response.representante.cedulaM }}
          </p>
          <p>
              Correo:
              {{ globalDataFrame.response.representante.emailM }}
          </p>
          <p>
              Profesion:
              {{ globalDataFrame.response.representante.profesionM }}
          </p>
          <p>
              Telefono:
              {{ globalDataFrame.response.representante.telefonoM }}
          </p>
          <p>
              Vive con el estudiante:
              @if(globalDataFrame.response.representante.viveConEstuanteM){
                Si
              }
              @else{
                No
              }
          </p>
          </mat-card-content>
        </mat-card>
                  <br>
        <br>
         <mat-card>
          <mat-card-content>
          <h4>Datos del padre</h4>
          <p>
              Nombre:
              {{ globalDataFrame.response.representante.padre }}
          </p>
          <p>
              Cedula:
              {{ globalDataFrame.response.representante.cedulaP }}
          </p>
          <p>
              Correo:
              {{ globalDataFrame.response.representante.emailP }}
          </p>
          <p>
              Profesion:
              {{ globalDataFrame.response.representante.profesionP }}
          </p>
          <p>
              Telefono:
              {{ globalDataFrame.response.representante.telefonoP }}
          </p>
          <p>
              Vive con el estudiante:
              @if(globalDataFrame.response.representante.viveConEstuanteP){
                Si
              }
              @else{
                No
              }
          </p>
          </mat-card-content>
        </mat-card>
        <br>
        <br>
          <mat-card>
          <mat-card-content>
            <p>
              Representante:
              {{ globalDataFrame.response.representante.nombreRepresentante }}
            </p>
            <p>
              Numero de emergencia:
              {{ globalDataFrame.response.representante.numEmergencia }}
            </p>
            <p>
              Parentesco:
              {{ globalDataFrame.response.representante.parentesco }}
            </p>
          </mat-card-content>
          </mat-card>
        }
         <mat-card-actions class="action-container">
                    <button mat-raised-button (click)="volver()">Volver</button>
                    @if(frameNum !== 2){
                      <button mat-raised-button>Editar</button>
                    }
         </mat-card-actions>
     </mat-card-content>
    </mat-card>  
  }


</div>
