@if(record){
  <mat-card>
    <mat-card-content class="form-container">
      <mat-card-title>Record {{record.id_estudiante }}</mat-card-title>
      
             <h3>
              Desde: {{ record.fechaEscolarDesde | date:'yyyy-MM-dd' }}
             </h3>
             <h3>
              Hasta : {{ record.fechaEscolarHasta | date:'yyyy-MM-dd' }}
             </h3>
             <h3>
              Año: {{ record.curso }}
             </h3> 
             <h3>
              Plantel de origen: {{ record.plantelOrigen }}
             </h3>
             <h3>
              Prueba vocacional:
              @if(record.pruebaVocacional){
                Si
              }
              @else{
                No
              }
              </h3>
              <h3>
              Tipo: {{ record.tipoEstudiante }}
             </h3>
              <h3>
              Repitiente:
              @if(record.repitiente){
                Si
              }
              @else{
                No
              }
              </h3>
              @if(viewNotes){
              @if(record.repitiente){
                  <!--<h3>
                  Materias aplazadas:
                  @for (materia of record.materiasAplazadas; track materia) {
                      <h3>{{materia.nombre | uppercase }}</h3>
                  }
                  </h3>

                  <h3>
                  Materias aprobadas:
                  @for (materia of record.materiasAprobadas; track materia) {
                      <h3>{{materia.nombre | uppercase}}</h3>
                  }
                  </h3>-->

                  <mat-list>
                        <h3 mat-subheader>Materias aprobadas</h3>
                        @for (materia of record.materiasAprobadas; track materia) {
                               <mat-icon mat-list-icon>notes</mat-icon>
                               <h4 mat-line>{{materia.nombre | uppercase}}</h4>
                               @if (!$last) {
                                  <mat-divider [inset]="true"></mat-divider>
                               }
                        } 
                  </mat-list>
                  <mat-divider></mat-divider>
                  <mat-list>
                        <h3 mat-subheader>Materias aplazadas</h3>
                        @for (materia of record.materiasAplazadas; track materia) {
                               <mat-icon mat-list-icon>notes</mat-icon>
                               <h4 mat-line>{{materia.nombre | uppercase}}</h4>
                               @if (!$last) {
                                  <mat-divider [inset]="true"></mat-divider>
                               }
                        } 
                  </mat-list>
              }
              }
    </mat-card-content>
    <mat-card-actions class="action-container">
      <!--<button mat-raised-button color="primary">Agregar asignaturas</button>
      <button mat-raised-button color="primary">Agregar notas</button>-->
       @if(record.repitiente){
      <button matTooltip="Ver mas..." (click)="viewNotes=!viewNotes"mat-raised-button color="primary"><mat-icon>visibility</mat-icon></button>
    }
      <!--<button matTooltip="Notas" mat-raised-button color="primary" (click)="notes(record.id,record.id_estudiante)"><mat-icon>checklist</mat-icon></button>

      <button matTooltip="Añadir asignaturas" mat-raised-button color="primary" (click)="notes(record.id,record.id_estudiante)"><mat-icon>edit_note</mat-icon></button>-->

      <button matTooltip="Eliminar" mat-raised-button color="primary" (click)="delete(record.id,record.id_estudiante)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
}