.login-form {
 top: 10px;
  max-width: 500px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenedor */
}

 

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px; /* Adjust width as needed */
}

.action-container {
  display: flex;
  justify-content: center;
}
